:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primary: rgb(111, 78, 55);
  --secondary: rgb(193, 154, 107);
  --terciary: rgb(59, 47, 47);
  --terciary-t: rgb(59, 47, 47, 0.6);
  --quaternary: rgb(234, 224, 213);
  --warning: rgb(164, 4, 4);
  --warning-d: rgb(146, 4, 4);
  --alert: rgb(74, 119, 60);
  --alert-d: rgb(62, 100, 51);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--terciary);
  overflow-x: hidden;
}

/* landing page */
.div {
  width: 1px;
  height: 100%;
  background-color: var(--primary);
}

.first-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 85px); /* 100vh menos navbar */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
  z-index: 0;
}

.container-home h1 {
  margin: 0;
  font-size: 3.3rem;
  color: var(--terciary);
  text-align: center;
}

.first-container h3 {
  margin-top: 5px;
  font-size: 1.5rem;
  color: var(--quaternary);
  font-weight: 500;
}

.first-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.35);
  z-index: -1;
}

.container-home {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  max-width: 500px;
  text-align: start;
  background-color: transparent;
  height: auto;
  padding: 20px;
  margin: 80px;
  border-radius: 15px;
  z-index: 1;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.6));
}

.container-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(193, 154, 107); 
  border-radius: 15px;
  z-index: -1;
}

.icon-a {
  font-size: 40px;
}

.icon-a:hover {
  cursor: pointer;
  color: var(--primary);
}

.container-home button {
  all: unset;
  padding: 10px;
  width: 90%;
  text-align: center;
  font-weight: 600;
  height: 100%;
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 15px;
}

.container-home button:hover {
  background-color: var(--terciary-t);
}

.second-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-top: 0; /* ya viene después del first */
}

.second-container h1 {
  background-color: var(--quaternary);
  color: var(--terciary);
  height: 15vh;
  margin: 0;
  font-size: 3.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-second {
  display: flex;
  width: 100%;
  height: 90vh;
  background-image: url(/src/assets/secon-bg.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: flex-end;
}

.container-second-right {
  position: relative;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* alinea hijos a la derecha */
  justify-content: center;
  padding-right: 40px; /* <-- separación del borde derecho */
  box-sizing: border-box;
  text-align: right; /* para que el texto esté alineado */
}

.container-second-right p {
  font-size: 3rem;
  margin: 0 0 15px 0;
  font-weight: 900;
}

.container-second-right span {
  font-size: 1.5rem;
  color: var(--quaternary);
  font-weight: 300;
  font-style: italic;
}