:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --primary: rgb(111, 78, 55);
  --secondary: rgb(193, 154, 107);
  --terciary: rgb(59, 47, 47);
  --terciary-t: rgb(59, 47, 47, 0.6);
  --quaternary: rgb(234, 224, 213);
  --warning: rgb(164, 4, 4);
  --warning-d: rgb(146, 4, 4);
  --alert: rgb(74, 119, 60);
  --alert-d: rgb(62, 100, 51);
}

/*Logotipo*/
.logo {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}


/*Barra de navegaci贸n*/
.navbar {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: var(--primary);
  padding: 5px 20px;
  border-bottom: 0px solid var(--quaternary); /*Camiado a 0px, REVISAR!!!*/
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.9); /*Opcional solo una sombra*/
  z-index: 10;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
/*Contenedor de los enlaces de navegaci贸n (Iniciar sesi贸n y Registrarse)*/
.navbar-links {
  background-color: var(--quaternary);
  color: var(--primary);
  height: 40px;
  width: auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/*Botones en la barra de navegaci贸n de (Iniciar sesi贸n y Registrarse)*/
.navbar-links button {
  all: unset;
  padding: 10px;
  width:  auto;
  height: 100%;
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.5rem); /* Tama帽o de fuente adaptable */
}


/*Enlaces de navegaci贸n, contenedores generales de los botones*/
.nav-link {
  text-decoration: none;  /*  Quita subrayado */
  color: inherit;         /*  Hereda el color del padre */
}

.nav-link:visited {
  color: inherit;
}
