:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: var(--quaternary); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colors */
  --text: rgb(50, 50, 50);
  --primary: rgb(111, 78, 55);
  --secondary: rgb(193, 154, 107);
  --terciary: rgb(59, 47, 47);
  --terciary-t: rgb(59, 47, 47, 0.6);
  --quaternary: rgb(234, 224, 213);
  --warning: rgb(164, 4, 4);
  --warning-d: rgb(146, 4, 4);
  --alert: rgb(74, 119, 60);
  --alert-d: rgb(62, 100, 51);
}

body,
html {
  background-color: var(--quaternary) !important;
}

.register-page {
  display: flex;
  align-items: center;
  height: 100vh;
  color: var(--text);
  justify-content: center;
  flex-direction: column;
}

.register-page h2 {
  text-align: center; 
  margin: 0;
  font-size: clamp(2lh, 5vw, 2.5lh);
}

.register-page h3 {
  margin: 10px;
}

.ya-login {
  border: 1px solid var(--terciary);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 15px;
}

.btn-submit {
  background-color: var(--warning);
  border-radius: 10px;
  padding: 7px;
  border: none;
}

.btn-submit:hover {
  background-color: var(--warning-d);
  cursor: pointer;
}

.fields-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--terciary);
  border-radius: 10px;
  margin: 10px;
}

.fields-form h3 {
  margin: 10px 0;
  font-size: 1.3lh;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  margin-bottom: 5px;
}

.field input {
  color: var(--text);
  padding: 5px;
  border: 2px solid var(--terciary-t);
  border-radius: 5px;
  background-color: var(--quaternary);
}

.field input:focus {
  border-color: var(--secondary);
  outline: none;
}

.img-cafe {
  max-width: 150px;
  height: auto;
  margin: 30px auto 0 auto;
}
